
.bod {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin: 0 !important;
  height: 100%;
  overflow-y: scroll;
}


body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0 !important;
  background: black;
  overflow: hidden;
  background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
  background: linear-gradient(rgba(12, 20, 93, 0.6), rgba(95, 19, 43, 0.6)), url("cam.jpeg"); /* The least supported option. */
  background-repeat: no-repeat;
  background-size: cover;
}

header h1 {
  font-size: 80px;
  font-weight: 600;
  background-image: linear-gradient(to right, #ffffff 45%, #513833);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 130px 50px 75px 100px;
  
  background-image: linear-gradient(
    -225deg,
    #ffffff 0%,
    #8c73a7 29%,
    #ff1361 67%,
    #fff800 100%
  );
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

.button {
  background-image: linear-gradient(to right, rgb(207, 214, 78) , rgb(78, 195, 94));
  border: none;
  color: rgb(0, 0, 0);
  padding: 25px 32px;
  margin: 20px 200px 75px 1100px; 
  text-align: center;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 600;
  border-radius: 4px;
}

.button:hover {
  background-image: linear-gradient(to right, rgb(28, 99, 43) , rgb(14, 111, 48));
  color: white;
}


@keyframes textclip {
  to {
    background-position: 200% center;
  }
}





/* DEMO-SPECIFIC STYLES */
.typewriter h2 {
  color: #fff;
  font-family: monospace;
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 150px 200px 75px 1100px; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */

  overflow:visible;
  font-size: 50px;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}